<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SynrgyChapter3"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.mvvm.MvvmActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity2"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.activity.MainComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        </activity>
        <activity android:name=".ui.activity.navigationcomponent2.NavigationComponent2Activity"/>
        <activity android:name=".ui.activity.SecondActivity"/>
        <activity android:name=".ui.activity.third.ThirdActivity"/>
        <activity android:name=".ui.activity.navigationcomponent.NavigationComponentActivity"/>
    </application>
</manifest>